<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>todo-list</title>
    <!-- Compiled and minified CSS -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col s12 m8">
          <!-- To-do card -->
          <div class="card">
            <div class="card-content">
              <% console.log(error) %> <% if(error !== null) { %>
              <div class="row teal lighten-4">
                <div class="col s12">
                  <p class="center-align"><%= error %></p>
                </div>
              </div>
              <% } %> <% tasks.forEach(task => { %> <% if (Object.is(selectedId,
              task.id)) { %>
              <span class="card-title"
                >Current task: <b><%= task.task %></b></span
              >
              <div class="row">
                <form
                  class="col s12"
                  method="post"
                  action="/update-task/<%= task.id %>"
                >
                  <div class="row">
                    <div class="input-field col s12">
                      <input
                        placeholder="Task..."
                        id="<%= task.id %>"
                        type="text"
                        name="task"
                        value="<%= task.task %>"
                      />
                      <label for="task"><b>Update task to:</b></label>
                      <input
                        type="hidden"
                        id="<%= task.id %>"
                        name="taskId"
                        value="<%= task.id %>"
                      />
                    </div>
                  </div>
                  <input type="submit" class="btn" value="Update Task" />
                  <a href="/" class="btn">Cancel</a>
                </form>
              </div>
              <% } %> <% }) %>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  </body>
</html>
